.avatar {
    width: 150px;
    display: block;
margin: 20px auto;
    
}
.item {
    list-style: none;
    

}
.name {
    display: inline-block;
text-align: center;
font-weight: 700;
}
.status {
    display: inline-block;
   margin: 0 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
   
    background: green;
}